{% include "common/site-head.njk" %}
<title>Scoundrel</title>

{% include "common/site-nav.njk" %}
<body onload="launchGame()">
<div class="scoundrel">
<h1 style="margin-top: 25px">Scoundrel</h1>

<div>
  Stuff goes here
</div>


<button id="process-game-action">Enter</button>
</body>


{% include "common/site-footer.njk" %}